/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Add Styles Here */


body {background-color:#D6FFEB;
color:#4C4C4C;
}
	

header{text-align:center;
}

 header h1  {display:inline-block;
 text-align:center;
 width:90%;
font-family:'Unica One', cursive;
font-size:7em;
padding:5% 3% 0% 3%;
}

header h2 {text-align:center;
display:inline-block;
font-family: 'Sue Ellen Francisco', cursive;
font-size:2em;
width:40%;
padding:.5% 2% 4% 2%;
}

header p {width:40%;
text-align:center;
padding: 0% 0% 5% 30.2%;
font-family:courier;
font-size:1.1em;
}	


.project img {margin: 0 auto;
max-width:70%;
height:auto;
padding:2% 0% 5% 15%; 
}


footer {text-align:center;
bottom:0;
padding:85% 1% 1% 26%;
width:47%;
font-size:.7em;
}

.project{float:left;
position:relative;
width:50%;
}

.text{ padding:0% 1% 9% 15%;
font-family:'Sue Ellen Francisco', cursive;}

.text h2 {
font-size:2.2em;
}

.text p{font-family:'Unica One', cursive;
font-size:1.5em;
}

.detail{margin: 0 auto;
float:left;
width:53%;
}


.detail h2 {
font-family: 'Sue Ellen Francisco', cursive;
font-size:2em;
width:600px;
padding-top:15%;
padding-left:80%;
}

.detail img{width:80%;
	height:auto;
	float:left;
	padding:15% 2% 2% 40% ;

}

.detail p{font-family:'Unica One', cursive;
font-size:1.5em;
width:500px;
padding-left:80%;
}

.detail h3{font-family:courier;
font-size:.7em;
width:500px;
padding-left:80%;
padding-top:.5%;
}

#addToCart{position:relative;
	bottom:2%;
	left:11.5%;
	width:13%;
	float:left;
	font-family:'Unica One', cursive;
	font-size:1em;
	}


aside img{width:6%;
	height:auto;
	float:right;
	padding-right:29.5%;
	padding-top:21%;
	padding-bottom:1%;
}


#buttonToClick{position:relative;
	bottom:20%;
	left:11.5%;
	width:3%;
	padding-top:2%;
	margin-top:17%;
}

.btn1 {background-color:#990000;
}

.btn2 {background-color:#FFFFF2;
}

.btn3 {background-color:#333330;
}

















